# Ignore backend environment file
backend/.env
backend/node_modules

# Ignore frontend environment file
/frontend/.env
frontend/node_modules

# Optionally ignore supabase folder (if not tracking schema/functions/migrations)
supabase

#removing the frontend archive
#frontend backup by google jules
frontend-jules-backup.zip

#ignoring the frontend for this website for now 
CollegeEvents.jsx